div#header {
  background-color: floralwhite;
}
div#header img {
    float: left;
    margin: 1em 1em 1em 1em;
}
div#header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4em;
    color: darksalmon;
    margin-left: 2%;
}