div#mydivid {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img.owns-a-line {
    display: block;
}
img.mvright {
    display: block;
    margin-left: 15em;
}
.shocking {
    color: red;
}
a:hover {
    color: orange;
}
a {
    color: gray;
}
a:visited {
    color: aquamarine;
}
li {
    margin: 5.75em;
}
ul {
    list-style-position: inside;
    list-style-type: square;
}

div#edsdiv p {
    font-size: 10em;
}
th, td {
    border: 1px solid black;
}
div#fmain {
    float: left;
    width: 20%;
    margin: 0 auto 0 auto;
}
div#narrow {
    float: right;
    width: 20%;
    margin: 0 auto 0 auto;
}
div#banner {
    postion: absolute;
    top: 0;
    left: 0;
    background-color: #ccff33;
}
div#banner h2 {
    margin-left: 30%;
    font-family: Arial, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 2em;
}